<div class = "container text-center">
  <h1>About WikiMe</h1>
  </div>
    <br>
      <div class = "container">
        <div class="jumbotron text-center">
          <h2>Create and share Wikis</h2>
          <p>Find me in app/views/welcome/about.html.erb</p>
        </div>
      </div>
    </div>
</div>