<div class = "container text-center">
  <h1>WikiMe</h1>
  </div>
    <br>
      <div class = "container">
        <div class="jumbotron text-center">
          <h2>Create and share Wikis</h2>
        <br>
      <p><%= link_to "Sign Up Here", new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
    <br>
    <h5> Already a Member? </h5>
      <br>
      <p><%= link_to "Login Here", new_user_session_path, class: 'btn btn-primary btn-lg' %></p> 
    </div>
  <br>

  <div class="row">
  <div class="col-md-6">
    <h3>Standard Membership</h3>
    <p>The FREE Standard Membership allows you to create new wikis and add or share content on all public wickis. Standard membership is no charge, but you must signup to participate!</p>
  </div>
  <div class="col-md-6">
    <h3>Premium Membership</h3>
    <p>The Premium Membership allows all the features of a Standard Membership, plus; you have the ability to create private wickis and choose who can collaborate on your wickis.  Premium member ship is a one time fee of $15. To sign up, login then click "Upgrade to Premium".</p>
  </div>
</div>
