
<div class = "container text-center">
  <h1>Wiki Editor</h1>
    <br>
        <%= render 'form' %>
  </div>
<br>
<div class = "container text-center">
  <%= link_to 'Return to List', wikis_path %> |
  <%= link_to 'Delete Wiki', @wiki, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

