
<div class = "container text-center">
  <h1>Wiki Editor</h1>
    <br>
        <%= render 'form' %>
  </div>
<br>
<div class = "container text-center">
  <%= link_to 'Show', @wiki %> |
    <%= link_to 'Delete', @wiki, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back to List', wikis_path %>
</div>

