<div class = "container text-center">
  <h1>Wiki Creator</h1>
    <br>
  <div class="jumbotron text-center">
      <br>
<%= render 'form' %>
</div>
</div>
<br>
<div class = "container text-center">
  <%= link_to 'Back to List', wikis_path %>
</div>